* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	min-height: 100vh;

}

h1, h2, h3, h4, h5{
	font-weight: 300;
}

.page {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	min-height: 80vh;
	color: white;
	font-weight: 300;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.header > * {
	margin: 20px;
}

.header > h1 {
	font-weight: 300;
	font-size: 3em;
}

.header > p {
	max-width: 600px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.5em;
}

.content {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 80px;
}

.nav {
	width: 100%;
	color: #636363;
    background-color: #f7f7f7;
    padding: 15px;
    position: initial;
    transition: all .25s ease-in-out;
}

.fixed {
	position: fixed;
	top: 0;
	padding: 10px;
	z-index: 99;
}

.nav-list {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	list-style: none;
}

.nav-list-element {
	width: 100px;
	padding: 5px;
	margin: 0 20px;
	border-radius: 5px;
	transition: all .25s ease-in-out;
	cursor: pointer;
}

.nav-list-element a{
	color: inherit;
	text-decoration: none;
}

.nav-list-element:hover, .nav-list-element.active{
	background-color: #ffffff;
}

.container {
	min-height: 200px;
	background-color: #ffffff;
	border-top: 1px solid rgba(99, 99, 99, 0.2);

	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;

	padding: 40px;
}

.container h2{
	position: relative;
	min-width: 400px;
	margin-top: 20px;
	margin-bottom: 60px;
	font-size: 2em;
}

.container h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.container h2::after{
	content: "";
	position: absolute;
	bottom: -20px;
	left: calc(50% - 50px);
	width: 100px;
	height: 2px;
	background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.container p {
	color: #636363;
	line-height: 1.6em;
	font-size: 1.1em;
	max-width: 800px;
	font-weight: 300;
}

.button {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	min-width: 150px;
	border: 1px solid rgba(99, 99, 99, 0.2);
	background-color: #f7f7f7;
	color: #636363;
	font-weight: 300;
	transition: all .25s ease-in-out;
	border-radius: 5px;
	margin: 40px;
}

.button:hover {
	background-color: #ffffff;
}

.button.blue {
	background-color: #8cc9f0;
    color: #ffffff !important;
    border: none;
}

.button.blue:hover {
	background-color: #A9D7F3;
    color: #ffffff !important;
    border: none;
}

.button-row {
	display: flex;
}

.container .image {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 
	0 0 0 5px #ffffff,
	0 0 0 6px rgba(99, 99, 99, 0.2);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
	z-index: 9;
}

.container .image > img {
	position: relative;
	height: 100%;
	transition: all .25s ease-in-out;
	z-index: 2;
}

.container .image:hover{
	overflow: hidden;
	
}

.container .image:hover > img {
	transform: scale(1.2);

}

.col-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.col-element {
	width: 33%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.col-element .image {
	width: 150px;
	height: 150px;
}

