$text_color_dark: #22252c;
$text_color_light: #ffffff;
$primary: #ff00cc;
$secondary: #333399;
$gradient: linear-gradient(to right, $primary, $secondary);
$gradient_reversed: linear-gradient(-60deg, $primary, $secondary);
