@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #22252c;
  overflow-x: hidden; }

.container {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media screen and (max-width: 768px) {
    .container {
      min-height: 100vh;
      height: auto; } }

.hero {
  width: 100%;
  margin: auto;
  max-height: 700px;
  padding: 80px 40px;
  height: 100%;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .hero {
      padding: 40px 20px; } }
  @media screen and (max-width: 768px) {
    .hero {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      padding: 40px;
      height: auto; } }
  .hero__text {
    margin-bottom: 40px;
    -ms-flex-item-align: end;
        align-self: flex-end; }
    @media screen and (max-width: 768px) {
      .hero__text {
        margin-bottom: 20px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; } }
  .hero__name {
    font-size: 5em;
    font-weight: 300;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .hero__name {
        font-size: 4em; } }
    @media screen and (max-width: 426px) {
      .hero__name {
        font-size: 3em; } }
  .hero__position {
    font-size: 2em; }
    @media screen and (max-width: 768px) {
      .hero__position {
        font-size: 1.8em; } }
    @media screen and (max-width: 426px) {
      .hero__position {
        font-size: 1.5em; } }
  .hero__name, .hero__position {
    width: 100%;
    color: #ff00cc;
    background: linear-gradient(to right, #ff00cc, #333399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 1s;
    opacity: 0; }
    .hero__name.opacity, .hero__position.opacity {
      opacity: 1; }
  .hero__foto_container {
    width: 300px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    transition: all ease-in-out 1s;
    opacity: 0; }
    @media screen and (max-width: 768px) {
      .hero__foto_container {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin-bottom: 40px; } }
    @media screen and (max-width: 426px) {
      .hero__foto_container {
        width: 200px; } }
    .hero__foto_container.opacity {
      opacity: 1; }
    .hero__foto_container::before, .hero__foto_container::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
      position: absolute;
      top: -40px;
      left: 40px;
      background: linear-gradient(-60deg, #ff00cc, #333399); }
      @media screen and (max-width: 426px) {
        .hero__foto_container::before, .hero__foto_container::after {
          top: -30px;
          left: 30px; } }
    .hero__foto_container::after {
      width: 90%;
      height: 90%;
      top: calc(-40px + 5%);
      left: calc(40px + 5%);
      background: white;
      z-index: -1; }
      @media screen and (max-width: 426px) {
        .hero__foto_container::after {
          top: calc(-30px + 5%);
          left: calc(30px + 5%); } }
  .hero__links {
    margin-top: 40px; }
    .hero__links a {
      color: #ff00cc;
      display: inline-block;
      margin: 0 15px 0 5px;
      transition: all ease-in-out 0.3s; }
      .hero__links a:hover {
        color: #333399; }
  .hero__foto {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3); }
    .hero__foto img {
      width: 100%;
      display: block; }
