$text_color_dark: #22252C;
$text_color_light: #FFFFFF;
$primary: #FA7268;
$secondary: #FF978F;
$gradient: linear-gradient(to right, $primary, $secondary);
$gradient_reversed: linear-gradient(-60deg, $primary, $secondary);