// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Raleway:300,400,500,600&display=swap&subset=latin-ext');

// Bootstrap (grid only)
@import "~bootstrap/dist/css/bootstrap-grid.css";

// Variables
@import 'variables';

// Mixins
@import 'mixins';

::selection {
  background: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  @include font-size(16);
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
  padding: 0 0 160px;
  position: relative;
  transition: color .6s, background-color .6s;

  &[data-color-scheme="light"] {
    --background-color: #{$background-color-light};
    --background-highlight: #{$background-highlight-light};
    --text-color: #{$text-color-dark};

    .theme-toggle-btn {
      [data-icon="sun"] {
        display: none;
      }
      [data-icon="moon"] {
        display: block;
      }
    }
  }

  &[data-color-scheme="dark"] {
    --background-color: #{$background-color-dark};
    --background-highlight: #{$background-highlight-dark};
    --text-color: #{$text-color-light};

    .theme-toggle-btn {
      [data-icon="sun"] {
        display: block;
      }
      [data-icon="moon"] {
        display: none;
      }
    }
  }
}

.container {
  &--hero {
    min-height: 100vh;
    display: flex;

    @include respond-above(sm) {
      min-height: 0;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .row {
      width: calc(100% + 30px);
    }
  }
}

.hero {
  width: 100%;
  margin: auto;
  max-height: 700px;

  display: flex;
  position: relative;

  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: auto;

  @include respond-above(768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px
  }

  @include respond-above(1024px) {
    padding: 80px 40px;
    height: 100%;
  }

  &_text {
    margin-bottom: 20px;
    align-self: center;

    @include respond-above(md) {
      margin-bottom: 40px;
      align-self: flex-end;
    }
  }

  &_name, &_position {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 100%;
    transition: all ease-in-out 1s;

    @include gradient-text();
  }

  &_name {
    @include font-size(40);
    margin: 0;

    @include respond-above(426px) {
      @include font-size(60);
    }

    @include respond-above(md) {
      @include font-size(75);
    }
  }

  &_position {
    @include font-size(22);

    @include respond-above(426px) {
      @include font-size(25);
    }

    @include respond-above(md) {
      @include font-size(35);
    }
  }

  &_foto-container {
    width: 200px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 40px;
    align-self: flex-start;

    transition: all ease-in-out 1s;

    @include respond-above(426px) {
      align-self: center;
      margin-bottom: 40px;
    }

    @include respond-above(md) {
      width: 300px;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
      position: absolute;
      top: -30px;
      left: 30px;
      background: $gradient-reversed;

      @include respond-above(426px) {
        top: -40px;
        left: 40px;
      }
    }

    &::after {
      width: 90%;
      height: 90%;
      top: calc(-30px + 5%);
      left: calc(30px + 5%);
      background: transparent;
      background-color: var(--background-color);
      z-index: -1;
      transition: background-color .6s;

      @include respond-above(426px) {
        top: calc(-40px + 5%);
        left: calc(40px + 5%);
      }
    }
  }

  &_links {
    margin-top: 40px;
    transition: all ease-in-out 1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      color: $primary;
      display: inline-block;
      height: 32px;
      margin: 0 15px 0 5px;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: $secondary;
      }
    }
  }

  &_foto {
    max-width: 350px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3);

    img {
      width: 100%;
      display: block;
    }
  }
}

.cv-details {
  &_title {
    @include font-size(24);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 1.5em auto .5em;
    text-transform: lowercase;
    transition: all ease-in-out 1s;

    @include gradient-text();
  }

  h4, p, ul {
    @include font-size(18);
    font-weight: 300;
    margin-bottom: 5px;
  }

  h4 {
    font-weight: 500;
    text-align: right;
    text-transform: lowercase;
  }

  p {
    strong {
      font-weight: 500;
    }
    small {
      font-size: 0.9em;
    }
  }

  ul {
    margin-bottom: 15px;
    list-style: none;
    list-style-position: inside;

    li {
      margin-bottom: 5px;
    }
  }

  a {
    color: $primary;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

.theme-toggle-btn {
  background: transparent;
  border: none;
  outline: none;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--text-color);
  cursor: pointer;
  opacity: .6;
  transition: all .2s linear;

  &:hover {
    opacity: .9;
  }

  @include respond-above(576px) {
    top: 40px;
    left: 40px;
  }

  [data-icon="sun"] {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    [data-icon="sun"] {
      display: block;
    }
    [data-icon="moon"] {
      display: none;
    }
  }
}
